html, body { padding: 0; margin: 0; }

#biglogo{
	margin-top: 10px;
}

#tagline {
	font-family: 'Raleway', sans-serif;
	text-align: center;
	font-size: 20px;
}

#line-big {
	width: 375px;
	height: 5px;
	margin-top: 10px;
	background-color: #000;
}

.line-small {
	width: 375px;
	height: 2px;
	margin-top: 2px;
	margin-bottom: 2px;
	background-color: #000;
}

.categ {
	float: left;
	margin-top: 20px;
	margin-bottom: 20px;
}


.whatcat {
	font-family: 'Raleway', sans-serif;
	float: right;
	text-align: center;
	font-size: 30px;
	margin-top: 40px;
}

.btn {
	height: 30px;
	width: 187.5px;
	top: 400px;
	border-radius: 0%;
}

#left {
	position: absolute;
	left: 0px;
}

#right {
	position: absolute;
	left: 187.5px;
}

.pg2 {
	text-align: center;
	padding: 0;
	margin: 0;
}

.name {
	font-family: 'Libre Baskerville', serif;
	margin-top: 50px;
}

.description {
	font-family: 'Raleway', sans-serif;
	margin-left: 20px;
	margin-right: 20px;
}

.botbut {
	height: 60px;
	width: 60px;
	border-radius: 25%;
	position: absolute;
	text-align: center;
}

.backtocat{
	background-color: red;
	top: 580px;
	left: 90px;
}

.done {
	background-color: green;
	top: 580px;
	left: 225px;
}

.fa-undo {
	color: #fff;
	font-size: 50px;
	margin-top: 20px;
}

.fa-check {
	color: #fff;
	font-size: 50px;
	margin-top: 20px;
}