<p id="tagline" ng-hide="page === 2">So where do you want to go?</p>
	<div id="line-big" ng-hide="page === 2"></div>
	
	<div class="categ col-xs-12" ng-hide="page === 2" ng-click="page = 2; category = 2; position = 0; lastElement = 10" >
		<img class="col-xs-4" src="img/Icons/Tourist.png" ng-click="page = 2; category = 2; position = 0; lastElement = 10" />
		<h6 class="whatcat col-xs-8" >Tourist <br/> Attractions</h6>
	</div>

	<div class="categ col-xs-12" ng-hide="page === 2" ng-click="page = 2; category = 0; position = 0; lastElement = 8">
		<img class="col-xs-4" src="img/Icons/Culture.png"  />
		<h6 class="whatcat col-xs-8" >Arts And <br/> Culture</h6>
	</div>
	
	<div class="categ col-xs-12" ng-hide="page === 2" ng-click="page = 2; category = 1; position = 0; lastElement = 6">
		<img class="col-xs-4" src="img/Icons/Marker_yellow.png" n />
		<h6 class="whatcat col-xs-8" >Food & Markets</h6>
	</div>

	<div class="row">
		<button id="left" type="submit" class="btn btn-default pull-left" ng-show="page === 2" ng-click="position === 0 ? position = lastElement : position = position - 1"><</button>
		<button id="right" type="submit" class="btn btn-default pull-right" ng-show="page === 2" ng-click="position === lastElement ? position = 0 : position = position + 1">></button>
	</div>
	
		
	<section class="pg2 art">
		<div id="art0" ng-show="page === 2 && category === 0 && position === 0" class="location">
			<img src="img/tatemodern.jpg" alt="Design Museum"/>
			<h3 class="name">Tate Modern</h3>
			<p class="description">Britain's national gallery of international modern art. It is the most-visited modern
			art gallery in the world, with around 4.7 million visitors per year.
</p>
		</div>
		<div id="art1" ng-show="page === 2 && category === 0 && position === 1" class="location">
			<img src="img/whitechapel.jpg" class="img-responsive"/>
			<h3 class="name">Whitechapel Gallery</h3>
			<p class="description">Public funded gallery showcasing contemporary artists with a focus on the local community.</p>
		</div>
		<div id="art3" ng-show="page === 2 && category === 0 && position === 2" class="location">
			<img src="img/eastlondongraffititour.jpg" alt="East London Graffiti Tour" class="img-responsive"/>
			<h3 class="name">East London Graffiti Tour</h3>
			<p class="description">A guide of East London’s vibrant street art scene including some of Banksy’s most famous pieces.</p>
		</div>
		<div id="art4" ng-show="page === 2 && category === 0 && position === 3" class="location">
			<img src="img/designmuseum.jpg" class="img-responsive"/>
			<h3 class="name">Design Museum</h3>
			<p class="description">Product, industrial, graphic, fashion and architectural design alongside stunning views of the river.</p>
		</div>
		<div id="art5" ng-show="page === 2 && category === 0 && position === 4" class="location">
			<img src="img/whitecube.jpg"  class="img-responsive"/>
			<h3 class="name">White Cube</h3>
			<p class="description">Contemporary art gallery curating international artists including Damien Hurst.</p>
		</div>
		<div id="art6" ng-show="page === 2 && category === 0 && position === 5" class="location">
			<img src="img/fandtmuseum.jpg" class="img-responsive"/>
			<h3 class="name">Fashion and Textiles Museum</h3>
			<p class="description">Focuses on British and international fashion, and textile design from 1950 to the present day.</p>
		</div>
		<div id="art7" ng-show="page === 2 && category === 0 && position === 6" class="location">
			<img src="img/museumoflondon.jpg" class="img-responsive"/>
			<h3 class="name">Museum of London</h3>
			<p class="description">A history of London and its' people from prehistoric to the present day.</p>
		</div>
		<div id="art8" ng-show="page === 2 && category === 0 && position === 7" class="location">
			<img src="img/brunelmuseum.jpg" class="img-responsive"/>
			<h3 class="name">Brunel Museum</h3>
			<p class="description">A museum in the Brunel Engine House, designed by Sir Marc Isambard Brunel to be part of the infrastructure of the Thames Tunnel.</p>
		</div>
		<div id="art9" ng-show="page === 2 && category === 0 && position === 8" class="location">
			<img src="img/tobaccodock.jpg" class="img-responsive" />
			<h3 class="name">Tobacco Dock</h3>
			<p class="description">Built in the early 19th Century as a secure bonded warehouse for the receipt and storage of tobacco from the New World.</p>
		</div>
	</section>
	
	<section class="pg2 markets">
		<div id="markets0" ng-show="page === 2 && category === 1 && position === 0" class="location">
			<img src="img/maltbymarket.jpg" class="img-responsive"/>
			<h3 class="name">Maltby Market</h3>
			<p class="description">Artisanal foodstuffs, baked goods, fresh meats and vegetables on offer from bustling market stalls.</p>
		</div>
		<div id="markets1" ng-show="page === 2 && category === 1 && position === 1" class="location">
			<img src="img/boroughmarket.jpg"  class="img-responsive"/>
			<h3 class="name">Borough Market</h3>
			<p class="description">Wholesale and retail food market, one of the largest and oldest food markets in London, selling a large variety of foods from all over the world.</p>
		</div>
		<div id="markets2" ng-show="page === 2 && category === 1 && position === 2" class="location">
			<img src="img/spitalfieldsmarket.jpg" class="img-responsive"/>
			<h3 class="name">Spitalfields Market</h3>
			<p class="description">A famous traditional market full of independent designers and handmade items as well as the latest street food trends.</p>
		</div>
		<div id="markets3" ng-show="page === 2 && category === 1 && position === 3" class="location">
			<img src="img/southbankmarket.jpg" class="img-responsive"/>
			<h3 class="name">Southbank Market</h3>
			<p class="description">Market with around 40 producers who rear, grow and produce their own high quality artisanal produce.</p>
		</div>
		<div id="markets4" ng-show="page === 2 && category === 1 && position === 4" class="location">
			<img src="img/bricklane.jpg"  class="img-responsive"/>
			<h3 class="name">Brick Lane</h3>
			<p class="description">Food, clothes and bric and brac for hipsters in the heart of London’s Bangladeshi community.</p>
		</div>
		<div id="markets5" ng-show="page === 2 && category === 1 && position === 5" class="location">
			<img src="img/exmouthmarket.jpg" class="img-responsive"/>
			<h3 class="name">Exmouth Market</h3>
			<p class="description">Outdoor street market alongside some of London's finest restaurants. </p>
		</div>
		<div id="markets6" ng-show="page === 2 && category === 1 && position === 6" class="location">
			<img src="img/columbiaroadmarket.jpg" class="img-responsive"/>
			<h3 class="name">Columbia Road Market</h3>
			<p class="description">London famous Sunday markets dating from the Victorian times specialising in flower selling </p>
		</div>
	</section>
	
	<section class="pg2 tourist">
		<div id="tourist0" ng-show="page === 2 && category === 2 && position === 0" class="location">
			<img src="img/towerbridge.jpg" alt="Design Museum" class="img-responsive"/>
			<h3 class="name">Tower Bridge</h3>
			<p class="description">Finished in 1894 Tower Bridge is one of the most fascinating and iconic bascule and suspension 
			bridges in the world. The walkways, offer wonderful views along the River Thames and over the City.</p>
		</div>
		<div id="tourist1" ng-show="page === 2 && category === 2 && position === 1" class="location">
			<img src="img/allhallows.jpg" alt="Brunel Museum" class="img-responsive"/>
			<h3 class="name">All Hallows Church</h3>
			<p class="description">All Hallows by the Tower is the oldest church in the City of London and was founded by the Abbey of Barking in 675AD,
			300 years before the Tower of London.</p>
		</div>
		<div id="tourist2" ng-show="page === 2 && category === 2 && position === 2" class="location">
			<img src="img/hmsbelfast.jpg" alt="East London Graffiti Tour" class="img-responsive"/>
			<h3 class="name">HMS Belfast</h3>
			<p class="description">HMS Belfast is a museum ship, originally a Royal Navy light cruiser, permanently moored on the 
			River Thames and operated by the Imperial War Museum. </p>
		</div>
		<div id="tourist3" ng-show="page === 2 && category === 2 && position === 3" class="location">
			<img src="img/cityhall.jpg" class="img-responsive"/>
			<h3 class="name">City Hall</h3>
			<p class="description">City Hall is the headquarters of the Greater London Authority, which comprises the Mayor of London and the 
			London Assembly. It is located on the south bank of the River Thames overlooking Tower Bridge.</p>
		</div>
		<div id="tourist4" ng-show="page === 2 && category === 2 && position === 4" class="location">
			<img src="img/theshard.jpg"  class="img-responsive"/>
			<h3 class="name">The Shard</h3>
			<p class="description">The View from The Shard is atop the 87-storey skyscraper at 309 metres (1,014 ft) high, 
			it's is currently the tallest building in the European Union.</p>
		</div>
		<div id="tourist5" ng-show="page === 2 && category === 2 && position === 5" class="location">
			<img src="img/lloydsoflondon.jpg" class="img-responsive"/>
			<h3 class="name">Lloyds of London</h3>
			<p class="description">The Lloyd's building, designed by Richard Rogers 1986, is the home of the insurance 
			institution Lloyd's of London. It is located in London's main financial district.</p>
		</div>
		<div id="tourist6" ng-show="page === 2 && category === 2 && position === 6" class="location">
			<img src="img/Gherkin.jpg" class="img-responsive"/>
			<h3 class="name">The Gherkin</h3>
			<p class="description">30 St Mary Axe is a commercial skyscraper in London's primary financial district. 
			Opened in April 2004 with 41 stories, it is 180 metres (591 ft) tall</p>
		</div>
		<div id="tourist7" ng-show="page === 2 && category === 2 && position === 7" class="location">
			<img src="img/monument.jpg" alt="East London Graffiti Tour" class="img-responsive"/>
			<h3 class="name">Monument</h3>
			<p class="description">The Monument to the Great Fire of London, more commonly known simply as the 
			Monument, is a fluted Doric column in the City of London finished 1677</p>
		</div>
		<div id="tourist8" ng-show="page === 2 && category === 2 && position === 8" class="location">
			<img src="img/stpauls.jpg" class="img-responsive"/>
			<h3 class="name">St. Pauls</h3>
			<p class="description">The present church and famous dome that dominates the sky line date from the
			late 17th century, was designed in the English Baroque style by Sir Christopher Wren. </p>
		</div>
		<div id="tourist9" ng-show="page === 2 && category === 2 && position === 9" class="location">
			<img src="img/bankofengland.jpg" class="img-responsive" />
			<h3 class="name">Bank of England</h3>
			<p class="description">The second oldest central bank in the world and the model on which most modern 
			central banks have been based. Established in 1694.</p>
		</div>
		<div id="tourist10" ng-show="page === 2 && category === 2 && position === 10" class="location">
			<img src="img/Guildhall.jpg" class="img-responsive"/>
			<h3 class="name">Guild Hall</h3>
			<p class="description">In the United Kingdom, a guildhall is usually a town hall. A suggested etymology is from
			the Anglo Saxon "gild", or "payment", the guildhall being where citizens came to pay their rates.</p>
		</div>
	</section>
	<div class="row">
		<div id="backtocat" class=" btn btn-danger" ng-show="page === 2" ng-click="page = 1">Start Again</div>
		<a href="https://www.google.co.uk/maps/place/Tate+Modern/@51.507595,-0.099356,17z"><div class="btn btn-success" type="submit" ng-show="page === 2">Lets Go</div></a>
	</div>