body {
	font-family: 'Open Sans', sans-serif;
	font-size: 10px;
}

.home-page {
	position: absolute;
	height: 100%;
	width: 100%;
	margin: 0;
	top: 0;
	left: 0;
	z-index: -1;
	opacity: 0.5;
	background: url('https://images.unsplash.com/reserve/NnDHkyxLTFe7d5UZv9Bk_louvre.jpg?q=80&fm=jpg&s=fcefbb7672741f0ebea81af1401faa11') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.overlay {
	position: absolute;
	height: 100%;
	width: 100%;
	margin: 0;
	top: 0;
	left: 0;
	z-index: -1;
	opacity: 0.7;
	background: rgba(52, 152, 219,1.0) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.text-center {
	text-align: center;
}

.intro {
	width: 300px;
	margin: 0 auto;
	margin-top: 5%;
}

#brand {
	margin-top: 40%;
}

#logo-home {
	margin: 0 auto;
	font-size: 400%;
	font-weight: 300;
	color: #fff;
	border: 2px solid #fff;
	padding: 20px;
}

#tagline-home {
	margin-top: 15%;
	font-style: italic;
	font-weight: 400;
	font-size: 200%;
	color: #222;
}

#find-me {
	margin: 0 auto;
	margin-top: 30%;
	width: 100px;
	height: 100px;
	border-radius: 100%;
	border: 2px solid #fff;
	outline: none;
	background: none;
	color: #fff;
	font-size: 40px;
	opacity: 1;
}

#cta {
	font-weight: 500;
	font-size: 200%;
	color: #fff;
}